/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
/public/brand_images
/public/item_images
/public/user_images
/public/size_images
/public/payment_images
/public/products/large
/public/products/medium
/public/products/small
/public/customerSite/img
